.App {
  text-align: center;
}
.bgimage {
  background-image: url('./logo192.png');
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/* react color = rgb(0, 216, 255) */
.row {
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.col {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
/* ------------------------------ */
.fridge-main {
  border: solid;
  background-color: skyblue;
  height: 90vh;
  width: 40vw;
}
.fridge-freezer {
  display: block;
  border: solid;
  height: 30%;
}
.fridge-cooler {
  display: block;
  border: solid;
  height: 60%;
}
.fridge-handle {
  float: right;
}
/* ----------------------------- */
.freezer-inner {
  background-color: black;
  color: white;
}
.cooler-inner {
  overflow: auto;
  background-color: black;
  color: white;
}
.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid;
}
.fridge-bottom {

}
/* ----------------------------- */
